.first-menu-background{
    -fx-background-color:  #0E1621;
}

.second-menu-background{
    -fx-background-color:  #17212B;
}

.search-box-background{
    -fx-background-color:   #242F3D;
}

.chatbox-background{
    -fx-background-color:  #0E1621;
}

.titleBar-background{
    -fx-background-color:  #17212B;
}

.messageBar-background{
    -fx-background-color:  #17212B;
}

.info-background{
    -fx-background-color: #0E1621;
}

.search-box2-background{
    -fx-background-color:   #242F3D;
}